/*-----Adam Demol 2024-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --navHeight: 130px;
  --cal-width: 70px;
  --maxPageWidth: 1200px;
}

* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
button { cursor: pointer; }

body {
  background-color: #eee;
  color: #111;
  display: grid;
}

h1 {
  font-size: 1.8rem;
  color: white;
}

.page-wrap {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr auto;
  padding-top: 1rem;
  width: 100%;
  max-width: var(--maxPageWidth);
}

.not-signedin {
  margin-top: 3rem;
  font-size: 1.2rem;
  text-align: center;
}

/*----- EVENTS STYLES -----*/
.events {
  min-height: 100%;
  padding: 2rem;
}

.event-items-wrap {
  display: grid;
  gap: 1rem;
}

.item-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.item-btns {
  display: flex;
  gap: 1rem;
}

.item-wrap {
  position: relative;
  display: grid;
  gap: .7rem;
  background-color: white;
  box-shadow: 0 0 10px 0 #ccc;
  border-radius: 5px;
  padding: .9rem;
  border: 2px solid #78b5e7;
}

.item-date {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  font-size: .8rem;
}

.item-text {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.btn-edit, .btn-remove {
  position: relative;
  fill: #333;
  background: var(--theme-blue);
}

.btn-edit:hover {
  fill: #78b5e7;
}

.btn-remove:hover {
  fill: #cc3939;
}

.arrow-up {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333;
  z-index: 99999;
}

.edit-input {
  background: #dedede;
  border-radius: 5px;
  padding: .5rem;
}

.edit-datetime {
  display: grid;
  grid-template-columns: 20px 1fr 60px 60px;
  gap: 1rem;
  align-items: center;
}

/*----- ADD EVENT POPUP STYLES -----*/
.event-popup {
  opacity: 0;
  pointer-events: none;
  display: grid;
  gap: 1rem;
  position: absolute;
  background: #333;
  color: white;
  padding: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  top: 500px;
  box-shadow: 0 0 1px 5000px rgba(0,0,0,0.6);
  transition: all 150ms ease-in-out;
}

.event-title {
  padding: .7rem;
  width: auto;
}

.event-heading {
  font-size: 1.2rem;
  font-weight: bold;
}

.edit-event {
  position: absolute;
  background: #333;
  color: white;
  padding: .7rem 1rem;
  right: -100px;
  z-index: 99;
}

.arrow-left {
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #333;
  z-index: 99999;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-close-popup {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.btn-close-popup:hover {
  background: #cc3939;
  fill: white;
}

.popup-date-time {
  display: grid;
  gap: .5rem;
}

.popup-date, .popup-time  {
  display: flex;
  gap: 10px;
}

.popup-time select {
  width: 60px;
  height: 25px;
}

.popup-desc {
  width: 300px;
  height: 100px;
}

.is-visible {
  opacity: 1;
  pointer-events: all;
  top: 100%;
}

.btn-save {
  background: #333;
  color: white;
}

.btn-submit, .btn-save {
  width: 120px;
  border-radius: 5px;
  height: 35px;
}

.btn-submit:hover, .btn-save:hover {
  background: #78b5e7;
}

.arrow-popup {
  left: 50%;
  top: -5px;
}

/*----- CALENDAR STYLES -----*/
.calendar-wrap {
  height: fit-content;
  padding: 2rem;
  max-width: fit-content;
}

.calendar {
  position: relative;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 #ccc;
  padding: 1rem;
}

.cal-header {
}

.cal-dates {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  height: var(--cal-width);
}

.cal-dates select {
  border: 1px solid #ddd;
  padding: 5px 10px;
}

.cal-year, .cal-month {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--cal-width);
}

.cal-row {
  display: grid;
  grid-template-columns: repeat(7, var(--cal-width));
  justify-content: center;
  background: #eee;
}

.cal-days-wrap {
  border: 1px solid #eee;
  display: grid;
  grid-template-columns: repeat(7, var(--cal-width));
}

.event-num {
  pointer-events: none;
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: .7rem;
  background-color: #363636;
  width: 20px;
  height: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.date {
  background: white;
  width: 100%;
  height: var(--cal-width);
}

.date:hover {
  color: white;
  background: #78b5e7;
}

.today {
  border: 3px solid #333;
}

.notCurrentMonth {
  background: #ddd;
}

/*----- NAVBAR STYLES -----*/
.navbar {
  display: grid;
  padding-inline: 2rem;
  background: #333;
  border-bottom: 6px solid #78b5e7;
  z-index: 2;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  height: var(--navHeight);
  width: 100%;
  max-width: var(--maxPageWidth);
}

.user-wrap {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: .5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000;
}

.profile img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.btn-primary {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  transition: all 150ms ease-in-out;
}

.btn-primary:hover {
  background-color: #cc3939;
  color: white;
}

.message-tooltip {
  position: absolute;
  opacity: 0;
  font-weight: bold;
  z-index: 9999;
  color: white;
  background-color:#333;
  padding: 1rem 2rem;
  top: calc(var(--navHeight) - 20px);
  left: 50%;
  transform: translateX(-50%);
  transition: 250ms ease-in-out;
  border-radius: 0 0 5px 5px;
}

/* Change to 2 column layout for smaller screens */
@media only screen and (max-width: 900px) {
  :root {
    --cal-width: 60px;
    --navHeight: 150px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .navbar {
    padding-inline: 1rem;
  }

  .page-wrap {
    grid-template-columns: unset;
    justify-content: center;
  }

  .nav-wrap {
    display: grid;
    justify-items: center;
    justify-content: center;
  }

  .calendar-wrap {
    grid-row: 1;
    padding: 1rem;
  }

  .events {
    grid-row: 2;
    padding: 1rem 1rem 3rem 1rem;
  }

  .profile {
    font-size: .9rem;
  }

  .cal-year, .cal-month {
    gap: 10px;
    font-size: .8rem;
  }

}

@media only screen and (max-width: 500px) {
  :root {
    --cal-width: 40px;
  }

  .cal-dates select {
    padding: unset;
  }
}